.Input {
  border: none;
  outline: none;
  box-shadow: inset 0 0 0 2px var(--color-primary-base);
  height: var(--element-height);
  border-radius: var(--element-border-radius);
  padding: 0 24px;
  color: var(--color-text-01);
}

.Input:hover {
  background-color: var(--color-base-02);
  box-shadow: inset 0 0 0 2px var(--color-primary-hover);
}

.Input:disabled {
  box-shadow: inset 0 0 0 2px var(--color-primary-disable);
}