.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  height: var(--element-height);
  background: var(--color-primary-base);
  color: var(--color-base-02);
  border: none;
  border-radius: var(--element-border-radius);
  cursor: pointer;
}

.Button:hover {
  background: var(--color-primary-hover);
}

.Button:active {
  background: var(--color-primary-active);
}

.Button:disabled {
  background: var(--color-primary-disable);
}