.Link {
  font-family: Manrope, serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;

  text-decoration: none;
  color: var(--color-info-base);
  cursor: pointer;
}

.Link:hover {
  color: var(--color-info-hover);
}

.Link:disabled {
  color: var(--color-info-disable);
}